@import 'settings/variables';
@import 'tools/mixins/import_once';

@include import_once('objects/main-cta') {
  .main-cta {
    min-width: 8rem;
    padding: 1rem 0.75rem;
    border-radius: 6px;
    border: none;
    background-color: $violet-heart;
    color: $white;
    transition: background-color 0.3s ease-in-out;

    &:focus,
    &:hover {
      background-color: $daisy-bush;
    }

    &:disabled {
      background-color: $primary-60;
    }
  }
}
