$violet-heart: #5524bd;
$daisy-bush: #4c279b;
$chesnut-rose: #ce7266;
$earls-green: #c6bf36;
$sunflower: #e5ce35;

$gray-100: #051727;
$transparent: rgba(255, 255, 255, 0.001);
$white: #fff;
$white-smoke: #fcf6f6;
$black-100: #000;

$primary-100: $gray-100;
$primary-60: rgba($gray-100, 0.60);
$primary-35: rgba($gray-100, 0.35);
